
.features-container{
  width: 100vw;
  height: 100vh;

  display: grid;
  column-gap: 45px;
  row-gap: 45px;
  box-sizing: border-box;
  padding: 10vw;

  grid-template-columns: repeat(6/1fr);
  grid-template-rows: repeat(3/1fr);

}

  .features-nightLife,
  .features-summer,
  .features-goWild{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    text-align: center;
    font-size: 21.5px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
  }
.features-nightLife{
  background-color: black;
  grid-column: 1/3;
  grid-row: 1/3;
  background-image: url('./assets/nightlife.jpg');
  background-size: cover;
  background-position: center;
}

.features-summer{
  background-color: black;
  grid-column: 3/5;
  grid-row: 1/3;
  background-image: url('./assets/summer.jpg');
  background-size: cover;
}

.features-goWild
{
  background-color: black;
  grid-column: 5/7;
  grid-row: 1/3;
  background-image: url('./assets/gowild.jpg');
  background-size: cover;
  background-position: center;
}

