//HOME PAGE 
//   background-color: red;
// }
// .container-two {
//   background-color: yellow;

// }
// .container-three {
//   background-color: green;
// }

$dark-grey: #333;


// .images-bottom {
//   height: 100px;
//   background-size: cover;
//   object-fit:scale-down;
// }
.ui.card, body .ui.cards>.card{
  box-shadow: none;
  width: 400px;
}

//Start of Home Component

.home-images{
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 5px;
}

#street-img{
  background-image: url('https://malloryontravel.com/wp-content/uploads/2014/06/Iain-Mallory-300-101-1-1024x697.jpg');
}

#culture-img{
  background-image: url('https://cdn.theculturetrip.com/wp-content/uploads/2017/12/33554467340_65375926e8_k.jpg');
}

#park-img{
  background-image: url('https://www.lemontroyal.qc.ca/images/nouvelles/credit_PixupMTL.jpg');
}

.home-card-imgs{
  width: 100%;
  height: 250px;
  background-size: cover;
}

#parks-card-img{
  background-image: url('https://sofitel.accor.com/destinations/imagerie/saint-joseph-oratory-304x253.jpg');
}

#wild-card-img{
  background-image: url('https://www.routedurichelieu.ca/fr/wp-content/uploads/2012/06/mont-st-hilaire2.jpg');
}

#hiking-card-img{
  background-image: url('https://www.lemontroyal.qc.ca/images/amis-s-montigne-2009-randonnee-sentier-escarpement-pano-2018-07-12-exAKqcSevEJ4TmVyr8Xoz1vI.jpg');
}

//End of Home Component




// START of Locations Index Component

.locations-index-container{
  display: flex;
}

.card.location-card{
  border: 3px solid red;
}

.locations-index-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  background-color: white;
}


.locations-map{
  border: 1px solid red;
}


//START of LocatioShow component

.location-show-container{
  display: flex;
  flex-wrap: wrap;
}

.carousel-container{
  width: 50%;
}

.location-show-info{
  width: 40%;
}


//Start of Navbar section

#active-nav-div,
#active-nav-btn{
  border: 1px solid $dark-grey;
  background-color: $dark-grey;
  color: white;
}