

// START of Features Component

.features-container{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .features-glamping,
  .features-activities,
  .features-events{
    width: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-glamping{
    background-color: black;
    color: white;
 }

 .features-events{
  background-color: black;
  color: white;
}
}

//END of Features Component 


// START of Locations Index Component

.locations-index-container{
  display: flex;
}

.locations-index-cards{
  border: 1px solid red;
  width: 60%;
  background-color: black;
}



