$dark-grey: #333;
$med-grey: #555;
$light-grey: #888;
$lightest-grey: #CCC;
$autumn-orange: rgb(212, 91, 18);


html,
 body {
  height: 100%;
  position: relative;
 }

.page-container{
  min-height: 100vh;
}

*{
  box-sizing: border-box;
}

.ui{
font-family: 'Barlow Condensed', sans-serif !important;
}


//Start of Navbar

.tree-logo{

  min-width: 75px;
  height: 75px;
  background-image: url('./assets/tree-icon.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 5px;
  margin-left: 5px;
  
}


//End of Navbar


//HOME PAGE 
.join-community-container{
  
  .column{
    border-top: 1px solid $lightest-grey;
  }
}

.column.home-column-box{
  box-shadow: none;
}



// .images-bottom {
//   height: 100px;
//   background-size: cover;
//   object-fit:scale-down;
// }
.ui.card, body .ui.cards>.card{
  box-shadow: none;
  width: 400px;
}

//Start of Home Component

.home-images{
  width: 100%;
  height: 300px;
  background-size: cover;
  border-radius: 5px;
}

#street-img{
  background-image: url('https://malloryontravel.com/wp-content/uploads/2014/06/Iain-Mallory-300-101-1-1024x697.jpg');
}

#culture-img{
  background-image: url('https://cdn.theculturetrip.com/wp-content/uploads/2017/12/33554467340_65375926e8_k.jpg');
}

#park-img{
  background-image: url('https://www.lemontroyal.qc.ca/images/nouvelles/credit_PixupMTL.jpg');
}

.home-card-imgs{
  width: 100%;
  height: 250px;
  background-size: cover;
}

#parks-card-img{
  background-image: url('https://sofitel.accor.com/destinations/imagerie/saint-joseph-oratory-304x253.jpg');
}

#wild-card-img{
  background-image: url('https://www.routedurichelieu.ca/fr/wp-content/uploads/2012/06/mont-st-hilaire2.jpg');
}

#hiking-card-img{
  background-image: url('https://www.lemontroyal.qc.ca/images/amis-s-montigne-2009-randonnee-sentier-escarpement-pano-2018-07-12-exAKqcSevEJ4TmVyr8Xoz1vI.jpg');
}

#bar-card-img{
  background-image: url('https://i2-prod.chroniclelive.co.uk/incoming/article16517923.ece/ALTERNATES/s615/1_BHR_nec270619cosy_03.jpg');
}

#summer-card-img{
  background-image: url('https://www.mtlblog.com/u/2018/06/06/240758774f069d072c9fc07fe428a275f22e5a0d.jpg_1200x630.jpg');
}

#gowild-card-img{
  background-image: url('https://www.zastavki.com/pictures/originals/2015/World___Canada_Autumn_in_the_mountains_of_Canada_095887_.jpg');
}
//End of Home Component


.ui-button-button{
    background-color: rgb(212, 91, 18);
  }
  


// Login/register/contribute
.column
{
  // border-radius: 15px;
  box-shadow: 0px 0px 2.5px 2.5px #fff;
  max-height: auto;
  
  box-sizing: border-box;
}


 #auth-column
 {
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
  padding: 30px;
 }


 .ui.form .field{
  .form-label{
    font-size: 17px;
  }
 }


// START of Locations Index Component


.mapboxgl-ctrl-group {
  width: 30px;
  margin: 10px 0 0 10px;
}

.our-popup{
  .mapboxgl-popup-content{
    border: 1px solid $autumn-orange;
  }
}


.mapboxgl-popup-close-button{
  display: none;
}

//START of LocationShow component

.location-show-container{
  display: flex;
  flex-wrap: wrap;
}

.carousel-container{
  width: 50%;
}

.location-show-info{
  width: 40%;
}

.contributor-img{
  border: 1px solid $lightest-grey;
  border-radius: 5px;
}

#park-image-carousel{
  width: 90%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

//Start of Navbar section

#active-nav-div,
#active-nav-btn{
  border: 1px solid $dark-grey;
  background-color: $dark-grey;
  color: white;
}


//Start of LocalProfile section

.profile-outer-container{
  padding: 10px
}

.header.profile-header{
  margin-left: 15px;
}

.circular.image.local-profile-image{
  margin: 0;
  border: 1px solid white;
  width: 75%;
}

.header.local-profile-name{
  padding-top: 15px;
}

.local-info-container{
  background-color: #CCC;
}

.card.popup-card{
  height: 300px;
  overflow: hidden;
}

.description.local-place-description{
  overflow: hidden;
}

.location-form-outer{
  margin-top: 20px;
  max-width: 500px;
}


.header.location-encourage{
  margin-top: 5px;
}

.segment.contribute-location-segment{
  display: flex;
  justify-content: space-between;
}

.contribute-location-outer{
  width: 45%;
}
.about-box {
  background-color: $autumn-orange;
  padding: 50px;
  

}

.to-update-profile{
  width: 45%;
}

.update-info-btn{
  padding: 10px;
}

//END of local profile section 


//Start of Local Register section

#img-upload-label{
  color: $light-grey;
}

//home page
#home-page
{
  background-image: url('./assets/mont-royal-pan.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 85.5vh;
  color: #fff;
  display: flex;
  align-items: center;

  position: relative;
}

#home-page::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.65;
  z-index: 1;
}

#home-page * {
  color: white;
  z-index: 100;
  box-shadow: none;
}
#home-page button {
  color: #000;
}



//Start of Footer Section

#footer-segment{
  width: 100vw;
}

//End of Footer Section